<%- include("../partials/header") %>

<div class="container">
  <h1><%= data.title %></h1>

  <% data.teams.forEach(t => { %>
  <div class="dept-card">
    <h2><%= t.name %></h2>
    <p><%= t.desc %></p>
  </div>
  <% }) %>
</div>

<%- include("../partials/footer") %>
