<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title><%= data.title %></title>
  <link rel="stylesheet" href="/css/intro.css">
  <link rel="stylesheet" href="/css/header">
</head>
<body>
  <%- include("../partials/header") %>
<div class="intro-container">
  <h1 class="page-title"><%= data.title %></h1>

  <% data.teams.forEach(t => { %>
    <div class="dept-box">
      <div class="dept-title"><%= t.name %></div>
      <div class="dept-text"><%= (t.desc || t.description || "") %></div>
    </div>
  <% }) %>
</div>

</body>
</html>
