<%- include("../main/header") %>
<%- include("../main/menu") %>

<link rel="stylesheet" href="/css/style.css">

<div class="container">
  <h2><%= data.title %></h2>

  <% data.ranks.forEach(group => { %>
    <h3><%= group.group %></h3>
    <ul>
      <% group.items.forEach(item => { %>
        <li><%= item %></li>
      <% }) %>
    </ul>
  <% }) %>
</div>

<%- include("../main/footer") %>
