<%- include("../main/header") %>
<%- include("../main/menu") %>

<link rel="stylesheet" href="/css/style.css">

<div class="container">
  <h2><%= data.title %></h2>

  <% data.teams.forEach(team => { %>
    <div class="dept-box">
      <h3><%= team.name %></h3>
      <p><%= team.desc %></p>
    </div>
  <% }) %>
</div>

<%- include("../main/footer") %>
