<%- include("../partials/header") %>

<div class="container">
  <h1><%= data.title %></h1>

  <% data.ranks.forEach(r => { %>
    <h2><%= r.group %></h2>
    <ul>
      <% r.items.forEach(item => { %>
        <li><%= item %></li>
      <% }) %>
    </ul>
  <% }) %>
</div>

<%- include("../partials/footer") %>
