<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>직급표 수정</title>
  <link rel="stylesheet" href="/css/intro.css">
</head>
<body>

  <%- include("../partials/admin_header") %>
<form method="POST" action="/admin/edit/rank">
<div class="intro-container">

  <input type="text" name="title" value="<%= data.title %>" class="page-title">

  <h2 class="rank-title high">고위직</h2>
  <% Object.keys(data.high).forEach(rank => { %>
    <div class="rank-card">
      <strong><%= rank %></strong>
      <input
        name="high_<%= rank %>"
        value="<%= data.high[rank] %>"
      >
    </div>
  <% }) %>

  <h2 class="rank-title mid">간부직</h2>
  <% Object.keys(data.mid).forEach(rank => { %>
    <div class="rank-card">
      <strong><%= rank %></strong>
      <input
        name="mid_<%= rank %>"
        value="<%= data.mid[rank] %>"
      >
    </div>
  <% }) %>

  <h2 class="rank-title normal">일반직</h2>
  <% Object.keys(data.normal).forEach(rank => { %>
    <div class="rank-card">
      <strong><%= rank %></strong>
      <% data.normal[rank].forEach((v, i) => { %>
        <input
          name="normal_<%= rank %>_<%= i+1 %>"
          value="<%= v %>"
        >
      <% }) %>
    </div>
  <% }) %>

  <h2 class="rank-title normal">시보</h2>
  <% data.probation.forEach((v, i) => { %>
    <input
      name="probation_<%= i+1 %>"
      value="<%= v %>"
      class="rank-card"
    >
  <% }) %>

  <button type="submit" class="submit-btn">전체 저장</button>

</div>
</form>

</body>
</html>
