<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="/style.css"/>
  <title>민원 상세</title>
</head>

<body>
<header>
  <img src="/logo.png"/>
  <h1>민원 상세</h1>
</header>

<div class="container">

  <p><strong>이름:</strong> <%= c.name %></p>
<p><strong>고유번호:</strong> <%= c.identity %></p>
<p><strong>작성일:</strong> <%= c.created %></p>
<p><strong>내용:</strong></p>
<p><%= c.content %></p>


  <% if (c.file) { %>
    <p><strong>첨부파일:</strong>  
      <a href="/uploads/<%= c.file %>" download>다운로드</a>
    </p>
  <% } %>

  <a href="/admin"><button>목록으로</button></a>
</div>

</body>
</html>
